/* Normalize css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Variables */
:root {
    --primary-color: #252B48;
    --secondary-color: #037543;
    --tertiary-color: #445069;
    --font-color: white;
    font-size: 14px;
}

body {
    color: var(--font-color);
    background-color: var(--tertiary-color);
    font-family: 'Genos', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-wrap: balance;
    letter-spacing: .1rem;
}